---
layout: not_homepage
quote: Email, instant messaging, and cell phones give us fabulous communication ability, but because we live and work in our own little worlds, communication is totally disorganized.
author: Marilyn vos Savant
---

{% include quote.html quote=page.quote author=page.author %}

  <h3 class="heading skills_heading center-align">Skills:</h3>
  <div class="skills_wrapper">
      {% for tech_group in site.data.skills %}
        <div class="skill_group">
          <div class="col m4 s6">
            <h4 class="heading">{{tech_group.name}}:</h4>
            <div class="skills">
              {% for tech in tech_group.skills %}
              <i class="about_skill_icon devicon-{{tech.class}}"></i><span class="skill_names">{{tech.skill_name}}</span><br/>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
